body{
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.titleHeader{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 300px;
  width: 100%;
  border-bottom-color: rgb(192,192,192);
  border-bottom-width: 50px;
}

.buttons{
  
  background: salmon;
}

.headerContent{
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;

}

.theTitle{
  height: 50%;

  align-self: baseline;
}

.tabs{
  display: flex;
  justify-content: space-evenly;
  height: 30px;
  width: 100%;
  border-color: rgb(0, 0, 0);
}

.articleCard{
  width: 90%;
  background: rgb(180, 178, 178);
  display: flex;
  justify-content: space-evenly;
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(105, 105, 105);
  border-bottom-color: black;
  margin-bottom: 30px;
  border-radius: 20px;
}

.articleDate{
  width: 20%;
}

.articleDate h3{
  color: rgb(105, 105, 105);
}

.articleContent{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
}

.story h2{
  margin-bottom: 30px;
}

.author h3{
  color: rgb(105, 105, 105);
  font-size: 1em;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}